@font-face {
    font-family: BundyYellow;
    src: url(../fonts/BndyYlwHS.ttf);
}

@font-face {
    font-family: BundyYellowSolid;
    src: url(../fonts/BndyYlwSolid.ttf);
}

header > h1 {
    font-family: BundyYellowSolid;
    font-size: 3rem;
    text-align: center;
}